	<div class="container">
		<footer>
			  <p>Розробник: <a>Іманов Антон</a></p>
			  <p><a>Science Conf 2020</a></p>
		</footer>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>