<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="..\..\public\fontawesome-free-5.13.0-web\css\all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css">

    <title>Science Confe</title>
  </head>
  <body>
      <nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container">
            <a href="../confs/index.html" class="navbar-brand"><i class="fas fa-atom"></i> Science Confe</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navLinks">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="index.html" class="nav-link"><i class="far fa-question-circle"></i> Відповіді до опитувань</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a href="" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> Переглянути конференції</a>
                  </li> -->
              </ul>
              <ul class="navbar-nav d-md-flex ml-auto">
                    <li class="nav-item">
                      <a href="../login.html" class="nav-link"><i class="fas fa-user"></i> Увійти</a>
                    </li>
                    <li class="nav-item">
                        <a href="../register.html" class="nav-link"><i class="fas fa-user-plus"></i> Зареєструватися</a>
                    </li> 
              </ul> 
            </div>              
        </div>
      </nav>

      <div class="mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 show-text">
                <div class="card">
                    <div class="caption-full">
                        <h3 class="text-center">
                          <a>Результат опитування до конференції "Ім'я конференції"</a>
                        </h3>

                        <hr class="header-hr">
                        <span class="ml-2">Імя відправника:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span> "Іван Мартушенко Григорович"</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Бажана дата для проведення конференцій:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span> 01.01.21</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Бажана тривалість конференції:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span>Не більше 4 днів</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Бажане місце для конференції:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span>Було б круто провести в Києві</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Учасник готовий підтримати організатора:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span>Так</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Бажана програма для конференції:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span>Доповіді та виступи</span>
                        </div>

                        <hr class="header-hr">
                        <span class="ml-2">Учасник вважає за потрібне покращити:</span>
                        <hr class="header-hr">
                        <div class="row main-text ml-2">
                          <span>Думаю, що нічого не потрібно</span>
                        </div>
                        <hr class="header-hr">
                        <p class="text-center main-text">
                            <em>Надіслано від User1</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>