<%- include("partials/homeHeader") %>
<!-- Jumbotron -->
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-3 text-uppercase">Ласкаво просимо на Science Confe!</h1>
      <p>Перегляньте майбутні конференції з усього світу</p>
      <a class="btn btn-outline-primary btn-lg text-capitalize" href="/confs" role="button">Переглянути конференції</a>
    </div>
  </div>
<%- include("partials/footer") %>