<%- include("partials/homeHeader") %>
<div class="container">
     <header class="jumbotron">
         <div class="container" style="text-align:center;">
             <h1>Ласкаво просимо на </h1>
			 <h1>Science Confe!</h1>
			 <h1>Це домашня сторінка</h1>
			 <a class="btn btn-primary btn-large" href="/confs">Переглянути конференції</a>
         </div>
     </header>
</div>
<%- include("partials/footer") %>