<%- include("partials/header") %>
<div class="login-form">
    <form action="/login" method="POST">
        <h2 class="text-center">Авторизація</h2>       
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Логін" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Пароль" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Увійти</button>
        </div>
		<p class="text-center"><a href="/confs">Повернутися</a></p>
    </form>
</div>
<%- include("partials/footer") %>