<%- include("../partials/header") %>
<div class="container mt-3">
    <h2 class="text-center">Реєстраційна форма для <%= conf.name %></h2>
    <div class="form-primary">
      <form action="/confs/<%= conf._id %>/participants" method="POST">
        <div class="mb-3">
          <label>Ваше повне ім'я</label>
          <input class="form-control" type="text" name="participant[name]" placeholder="повне ім'я">
        </div>
        <div class="mb-3">
          <label>Ваші інтереси / теми для обговорення</label>
          <input class="form-control" type="text" name="participant[interests]" placeholder="інтереси">
        </div>
        <div class="mb-3">
          <label>Бажана дата для проведення конференцій:</label>
          <input class="form-control" type="text" name="test[confDate]" placeholder="бажана дата">
        </div>
        <div class="mb-3">
          <label>Бажана тривалість конференції:</label>
          <input class="form-control" type="text" name="test[condDuration]" placeholder="бажана тривалість">
        </div>
        <div class="mb-3">
          <label>Бажане місце для конференції:</label>
          <input class="form-control" type="text" name="test[condLocation]" placeholder="бажане місце">
        </div>
        <div class="mb-3">
          <label>Чи готові ви підтримати організаторів?</label>
          <input class="form-control" type="text" name="test[confDonate]" placeholder="так або ні">
        </div>
        <div class="mb-3">
          <label>Бажана програма для конференції:</label>
          <input class="form-control" type="text" name="test[confProgram]" placeholder="бажана програма">
        </div>
        <div class="mb-3">
          <label>Що ще можна покращити?</label>
          <input class="form-control" type="text" name="test[opinion]" placeholder="ваша думка">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-outline-primary btn-block">Прийняти!</button>
        </div>
        <p class="text-center"><a href="/" class="btn btn-outline-primary btn-block">Повернутися</a>
        </p>
      </form>
    </div>
  </div>
<%- include("../partials/footer") %>